openapi: 3.0.0

info:
  title: Brigand
  description: File Service
  version: 0.1.0
tags:
  - name: Files
    description: |
      Manage files.
servers:
  - url: https://brigand.hyqe.org
    description: production
  - url: http://localhost:8080
    description: local

paths:
  /files:
    post:
      parameters:
        - name: filename
          required: true
          in: query
          schema:
            type: string
      security: []
      tags:
        - Files
      summary: Upload Files
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        200:
          description: Successfully uploaded a file.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetaData"
        400:
          description: No habla whatever that was.

  /files/{fileId}:
    parameters:
      - name: fileId
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - Files
      summary: Get a file by its id.
      security: []
      responses:
        200:
          description: OK
          headers:
            filename:
              schema:
                type: string
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        404:
          description: Yo no say.
  /files/{fileId}/{filename}:
    get:
      tags:
        - Files
      summary: get a file by name
      parameters:
        - name: id
          in: query
          description: the unique id of the file.
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: a single files metadata.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MetaData"

components:
  schemas:
    MetaData:
      type: object
      properties:
        id:
          type: string
          format: uuid
        filename:
          type: string
        createdAt:
          type: string
